/* ============================================== */
/* =============     NAVBAR     ================= */
/* ============================================== */

/* ============================================== */
/* =============   Iphone 5se   ================= */
/* ============================================== */
@media only screen and (min-width: 320px) {
  body {
    font-family: sans-serif;
  }

  #mainbox {
    font-size: 24px;
    cursor: pointer;
    transition: all 0.6s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background: #f4fffd;
    padding: 3px;
  }

  .mainbox__show {
    margin-left: 300px;
    display: none;
  }

  .menu__show {
    width: 300px !important;
  }

  .sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #2a306e;
    z-index: 10;
    padding-top: 50px;
    overflow-x: hidden;
    transition: all 0.5s;
    font-size: 25px;
    color:white;
  }

  .sidemenu a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    color: #f2f2f2;
    cursor: pointer;
    display: block;
  }

  .sidemenu a:hover {
    color: white;
  }

  .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
  }
}

/* ============================================== */
/* =================   Ipad   =================== */
/* ============================================== */
@media only screen and (min-width: 768px) {
  #mainbox {
    font-size: 50px;
  }

  .sidemenu {
    font-size: 60px;
  }

  .sidemenu a {
    padding: 10px 10px 10px 64px;
  }

  .menu__show {
    width: 500px !important;
  }
}
/*======================================*/
/*               Desktop                */
/*======================================*/
@media only screen and (min-width: 1400px) {
  .sidemenu {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    padding: 5px 0;
    font-size: 1.5em;
    justify-content: flex-start;
    margin: auto;
  }
  .sidemenu a {
    padding: 10px 20px;
    font-size: 0.8em;
    color: black;
  }
  .sidemenu a:hover {
    color: #222;
  }

  #mainbox {
    display: none;
  }

  nav {
    position: relative;
    top: 0;
    z-index: 2;
  }

  .closebtn {
    visibility: hidden;
  }

  .nav-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width 500ms ease;
  }

  .nav-link:hover::after {
    width: 100%;
  }

  .active::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: black;
  }

  .active {
    transition: 1s;
  }
}

/* ============================================== */
/* ================   Body  ===================== */
/* ============================================== */
@media only screen and (min-width: 1400px) {
  .main-container {
    width:90%;
    margin:auto;
    margin-top: 5vh;
  }
}