/* ============================================== */
/* =============     NAVBAR     ================= */
/* ============================================== */

/* ============================================== */
/* =============   Iphone 5se   ================= */
/* ============================================== */
@media only screen and (min-width: 320px) {
  body {
    font-family: sans-serif;
  }

  #mainbox {
    font-size: 24px;
    cursor: pointer;
    transition: all 0.6s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background: #f4fffd;
    padding: 3px;
  }

  .mainbox__show {
    margin-left: 300px;
    display: none;
  }

  .menu__show {
    width: 300px !important;
  }

  .sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #2a306e;
    z-index: 10;
    padding-top: 50px;
    overflow-x: hidden;
    transition: all 0.5s;
    font-size: 25px;
    color: white;
  }

  .sidemenu a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    color: #f2f2f2;
    cursor: pointer;
    display: block;
  }

  .sidemenu a:hover {
    color: white;
  }

  .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
  }
}

/* ============================================== */
/* =================   Ipad   =================== */
/* ============================================== */
@media only screen and (min-width: 768px) {
  #mainbox {
    font-size: 50px;
  }

  .sidemenu {
    font-size: 60px;
  }

  .sidemenu a {
    padding: 10px 10px 10px 64px;
  }

  .menu__show {
    width: 500px !important;
  }
}
/*======================================*/
/*               Desktop                */
/*======================================*/
@media only screen and (min-width: 800px) {
  table{
    background-color: #dbdbdb;
  }
  .main-flex-container {
    display: flex;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1525876902033-8da51fbe1e59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .sidemenu {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    background-color: #222;
    /* display: flex; */
    font-size: 1.5em;
    justify-content: flex-start;
  }
  .sidemenu a {
    padding: 10px 20px;
    font-size: 0.8em;
    color: #dbdbdb;
    width: fit-content;
  }
  .sidemenu a:hover {
    color: #dbdbdb;
  }

  #mainbox {
    display: none;
  }

  nav {
    position: relative;
    top: 0;
    z-index: 2;
  }

  .closebtn {
    visibility: hidden;
  }
  .nav-link {
    margin-left: 2vw;
  }
  .nav-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #dbdbdb;
    border-radius: 5px;
    transition: width 500ms ease;
  }
  .nav-link:hover::after {
    width: 100%;
  }

  .active::after {
    content: "";
    border-radius: 5px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #dbdbdb;
  }

  .active {
    transition: 1s;
  }
  .logo {
    margin-bottom: 5vh;
  }

  /* ============================================== */
  /* ================   Body  ===================== */
  /* ============================================== */
  .main-container {
    width: 70%;
    margin: auto;
    margin-top: 5vh;
  }
  .main-container h3 {
    margin: 5vh 0px;
    color:whitesmoke;
  }
  /* ============================================== */
  /* ================   Users  ===================== */
  /* ============================================== */
}

/* Exercise-Form*/
.exercise-container {
  background-color: rgba(68, 68, 68, 0.747);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.border_bottom {
  border-bottom: 3px solid white;
  color: white;
}

.form-btn {
  text-align: center;
}

.form-date {
  width:fit-content;
  border-radius: 5px;
}
.form-date label{
  margin-right:3vw;
}